<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeking.mybatis.mapper.UserMapper">
    <!--int insertUser();-->
    <!--    insert into `t_user` values(null,#{username},#{password},#{age},#{sex},#{email})-->
    <insert id="insertUser">
        insert into `t_user`
        values (null, #{arg0}, #{arg1}, #{arg2}, #{arg3}, #{arg4})
    </insert>

    <insert id="insertUserByEntity">
        insert into `t_user`
        values (null, #{username}, #{password}, #{age}, #{sex}, #{email})
    </insert>
    <!--    useGeneratedKeys：设置使用自增的主键
            keyProperty：因为增删改有统一的返回值是受影响的行数，因此只能将获取的自增的主键放在传输的参数user对象的某个属性中-->
    <insert id="insertUserGetId" useGeneratedKeys="true" keyProperty="id">
        insert into `t_user` values (null,#{userName},#{password},#{age},#{sex},#{email});
    </insert>
    <update id="updateUserById">
        update `t_user`
        set username=#{username},
            password=#{password},
            age=#{age},
            sex=#{sex},
            email=#{email}
        where id = #{id}
    </update>

    <delete id="deleteUserById">
        delete
        from `t_user`
        where id = #{id}
    </delete>
    <delete id="deleteSpecialUser">
        delete from `t_user` where id in (${ids})
    </delete>
    <select id="getById" resultType="User">
        select *
        from `t_user`
        where id = '${id}'
    </select>
    <!--    查询用户的总记录数
         @return
         在MyBatis中，对于Java中常用的类型都设置了类型别名
         例如：java.lang.Integer -> int|integer
        * 例如：int -> _int|_integer
        * 例如：Map -> map,List -> list-->
    <select id="getAllUser" resultType="User">
        select *
        from `t_user`
    </select>


    <select id="getUserToMap" resultType="java.util.HashMap">
        select *
        from `t_user`
        where id = #{id}
    </select>
    <select id="getAllUserToMap" resultType="java.util.HashMap">
        select *
        from `t_user`
    </select>
    <select id="getAllUserToHashMap" resultType="HashMap">
        select *
        from `t_user`
    </select>
    <!--  select * from `t_user` where user_name like '%${userName}%'-->
    <!--  select * from `t_user` where user_name like "%"#{userName}"%"-->
    <!--  select * from `t_user` where user_name like concat('%',#{userName},'%')-->
    <select id="fuzzySearch" resultType="User">
        select * from `t_user` where user_name like concat('%',#{userName},'%')
    </select>
    <!-- 这个地方得用${} 因为不是加字符串    -->
    <select id="getFromTableName" resultType="user">
        select * from  ${tableName};
    </select>
    <!--
        resultMap：设置自定义映射
        属性：
        id：表示自定义映射的唯一标识
        type：查询的数据要映射的实体类的类型
        子标签：
        id：设置主键的映射关系
        result：设置普通字段的映射关系
        association：设置多对一的映射关系
        collection：设置一对多的映射关系
        属性：
        property：设置映射关系中实体类中的属性名
        column：设置映射关系中表中的字段名
    -->
    <resultMap id="userMap" type="User">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="email" column="email"/>
    </resultMap>
    <select id="getAllUserByResultMap" resultMap="userMap">
        select id,user_name,password,age,sex,email from `t_user` where user_name like concat("%",#{userName},"%");
    </select>
</mapper>
