<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeking.mybatis.mapper.UserMapper">
    <!--int insertUser();-->
    <!--    insert into `t_user` values(null,#{username},#{password},#{age},#{sex},#{email})-->
    <insert id="insertUser">
        insert into `t_user` values (null, #{arg0}, #{arg1}, #{arg2}, #{arg3}, #{arg4})
    </insert>

    <insert id="insertUserByEntity">
        insert into `t_user` values(null,#{username},#{password},#{age},#{sex},#{email})
    </insert>
    <update id="updateUserById">
        update `t_user` set username=#{username},password=#{password},age=#{age},sex=#{sex},email=#{email} where id =#{id}
    </update>

    <delete id="deleteUserById">
        delete from `t_user` where id=#{id}
    </delete>
    <select id="getById" resultType="User">
        select * from `t_user` where id= '${id}'
    </select>
    <!--    查询用户的总记录数
         @return
         在MyBatis中，对于Java中常用的类型都设置了类型别名
         例如：java.lang.Integer -> int|integer
        * 例如：int -> _int|_integer
        * 例如：Map -> map,List -> list-->
    <select id="getAllUser" resultType="User">
        select * from `t_user`
    </select>


    <select id="getUserToMap" resultType="java.util.HashMap">
        select * from `t_user` where id = #{id}
    </select>
    <select id="getAllUserToMap" resultType="java.util.HashMap">
        select * from `t_user`
    </select>
    <select id="getAllUserToHashMap" resultType="java.util.HashMap">
        select * from `t_user`
    </select>
</mapper>
